<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;" role="progressbar" [style.width]="getProgreso1()">
                        <!-- <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;" role="progressbar"> -->
                    </div>
                </div>

                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;" role="progressbar" [style.width]="getProgreso2()">
                        <!-- <div class="progress-bar bg-info progress-bar-striped active" style="height:10px;" role="progressbar"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <app-incrementador (valorSalida)="cambioValorHijo($event)" [valor]="28"></app-incrementador> -->
                <!--'() = emite' y '[]= envia'-->
                <app-incrementador (valorSalida)=" progreso1 = $event " [valor]="progreso1"></app-incrementador>
                <!-- Se crea un componente ya qeu va a ser utilizado por varios 'app-incrementador'
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" (click)="cambiarValor(-5)" type="button">
                            <i class="fa fa-minus"></i>
                        </button>
                    </span>

                    <input type="number" class="form-control" [(ngModel)]="progreso" placeholder="Progreso">

                    <button class="btn btn-primary" (click)="cambiarValor(5)" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valorSalida)=" progreso2 = $event " [valor]="progreso2" [btnClass]="'btn-info'"></app-incrementador>
            </div>
        </div>
    </div>
</div>