<div id="main-wrapper"></div>
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="container-fluid">

        <!--Breadcrumb-->
        <app-breadcrumbs></app-breadcrumbs>

        <!--Sistema de Rutas-->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- 
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body"> -->
        <!-- <router-outlet></router-outlet> -->
        <!-- This is some text within a card block. -->
        <!--                     </div>
                </div>
            </div>
        </div>
 -->
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2020 Admin Pro by primo.co
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

<app-modal-imagen></app-modal-imagen>