<div class="row">
    <div class="col-6">
        <h4>Grafica 1</h4>
        <app-dona [title]="titulo"></app-dona>
        <!-- 
        <div class="card">
            <div class="card-body">
                <h3>Ventas Sales</h3>
                <div style="display: block">
                    <canvas baseChart [colors]="colors" [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut">
                    </canvas>
                </div>

            </div>
        </div> 
        -->

    </div>
    <div class="col-6">
        <h4>Grafica 2</h4>
        <app-dona [labelsTitu]="labels" [dataLab]="dataLabels"></app-dona>
        <!-- <div class="card">
            <div class="card-body">
                <h3>Ventas Sales</h3>
                <div style="display: block">
                    <canvas baseChart [colors]="colors" [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut">
                    </canvas>
                </div>

            </div>
        </div> -->

    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Grafica 3</h4>
        <app-dona title="Bodega"></app-dona>
        <!-- <div class="card">
            <div class="card-body">
                <h3>Ventas Sales</h3>
                <div style="display: block">
                    <canvas baseChart [colors]="colors" [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut">
                    </canvas>
                </div>

            </div>
        </div> -->

    </div>
    <div class="col-6">
        <h4>Grafica 4</h4>
        <app-dona></app-dona>
        <!-- <div class="card">
            <div class="card-body">
                <h3>Ventas Sales</h3>
                <div style="display: block">
                    <canvas baseChart [colors]="colors" [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut">
                    </canvas>
                </div>

            </div>
        </div> -->

    </div>
</div>